.card-header {
    font-size: 20px;
    font-weight: 400;
    /* color: rgb(112, 110, 110); */
}

.profile-image-receiver-details-container {
    display: flex;
    width: 40%;
}

.card-info {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 35px;
}

.profile {
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
    border-radius: 8px;
}

.amount-send-btn-container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 60%;
}

.amount {
    width: fit-content
}

.receiver-details {
    margin-left: 10px;
}

.btn-container {
    width: 40%;
}

.bi-person-fill {
    color: rgb(131,202,255);
}

.name {
    font-weight: 400;
}

.gmail,
.last-transaction {
    font-size: 14.3px;
    color: var(--grey);
    font-weight: 300;
}

.amount-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sent {
    padding-right: 5px;
}

.received {
    padding-left: 5px;
}

.aval-credit-total-transaction {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.aval-credit,
.total-transaction {
    width: 48%;
}

.recent-transactions-container {
    margin-top: 30px;
}


@media (max-width: 1024px) {
    
}

@media (max-width: 640px) {
    .card-info {
        display: block;
        margin-top: 20px;
    }

    .profile-image-receiver-details-container {
        width: 100%;
    }

    .amount-send-btn-container {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .amount-container {
        width: fit-content;
    }

    .aval-credit-total-transaction {
        display: block;
    }

    .aval-credit,
    .total-transaction {
        width: 100%;
    }
}